.wrapper {
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
}
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-San-serif.otf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("..//fonts/MyriadPro-Bold.otf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "MyriadPro-Light";
  src: url("../fonts/Myriad-Pro-Light_31642.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-display: block;
}
#ui-datepicker-div {
  background: #000;
}
#ui-datepicker-div span,
#ui-datepicker-div a {
  color: #fff;
  padding: 3px;
  display: inline-block;
}
#ui-datepicker-div select {
  display: none;
}
.header {
  position: relative;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__container__left {
  margin-left: 79px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.header__container__right {
  margin-left: 100px;
}
.header__container__right .header__top {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.header__container__right .header__top .header__title {
  font-size: 35px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 300;
}
.header__container__right .header__top .header__start {
  border: 1px solid #5499de;
  border-radius: 3px;
  margin-left: 20px;
}
.header__container__right .header__top .header__start__date {
  font-size: 15px;
  font-family: "HelveticaNeue", sans-serif;
  color: #5499de;
  padding: 11px 13px 9px 13px;
}
.header__container__right .header__middle {
  display: flex;
  align-items: center;
}
.header__container__right .header__middle .header__amount {
  margin-right: 30px;
  font-size: 17px;
  font-family: "ProximaNova", sans-serif;
}
.header__container__right .header__middle .header__amount span {
  margin-right: 7px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 600;
}
.header__container__right .header__bottom {
  margin-top: 20px;
}
.header__container__right .header__bottom p {
  display: inline-block;
  margin-right: 10px;
}
.header__container__right .header__bottom #datepicker {
  width: 150px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 5px 30px 5px 5px;
}
.header__container__right .header__bottom #datepicker:hover > span {
  cursor: pointer;
}
.header__container__right .header__bottom #fromDate {
  background-repeat: no-repeat;
  width: 150px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 5px 30px 5px 5px;
}
.header__container__right .header__bottom #toDate {
  width: 150px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 5px 30px 5px 5px;
}
.header__container__right .header__bottom input {
  margin-right: 20px;
}
.media {
  background-color: #fafafa;
}
.media__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.media__container__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.media__container__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 290px;
  height: 290px;
  margin-top: 29px;
  position: relative;
}
.media__container__item .media__center {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  color: #fff;
  width: 100%;
}
.media__container__item .media__center span {
  width: 30%;
  text-align: left;
}
.media__container__item .media__center div {
  width: 20%;
  text-align: left;
}
.media__container__item .media__bootom {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
  margin-bottom: 20px;
}
.media__container__item span {
  text-align: center;
}
.media__container__item img {
  height: 15px;
  width: 15px;
  fill: #ffffff;
}
.media__container__item i {
  margin-right: 5px;
  color: #fff;
}
.media__container .media__btn {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 40px;
}
.media__container .media__btn__link {
  border: 1px solid #111;
  border-radius: 20px;
  padding: 10px 35px 11px 35px;
  line-height: 40px;
  transition: none;
  text-transform: uppercase;
  font-family: "ProximaNova", sans-serif;
}
.media__container .media__btn__link:hover {
  color: #fff;
  background-color: #000;
  transition: 0.5S;
}
@media screen and (max-width: 767px) {
  header .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header .header__container__left {
    margin-left: 0;
  }
  header .header__container__left .header__logo {
    text-align: center;
  }
  header .header__container__right {
    margin-left: 0;
  }
  header .header__container__right .header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header .header__container__right .header__top .header__title {
    text-align: center;
  }
  header .header__container__right .header__top .header__start {
    margin-left: 0;
  }
  header .header__container__right .header__middle {
    display: flex;
    justify-content: center;
  }
  header .header__container__right .header__middle .header__amount {
    margin-right: 10px;
  }
  header .header__container__right .header__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  header .header__container__right .header__bottom #fromDate,
  header .header__container__right .header__bottom #toDate {
    width: 100px;
  }
  .media .media__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 580px) and (max-width: 767px) {
  .media .media__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 866px) {
  .media .media__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .media .media__container__item {
    margin: 29px;
  }
}
@media screen and (min-width: 867px) and (max-width: 1000px) {
  .media .media__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .media .media__container__item {
    margin-left: 29px;
  }
}
