// импорт обнуления стилей
@import "nullstyle.scss";
// импорт шрифтов
@import "fonts.scss";
// импорт готовых классов
@import "clasess.scss";

html {
	font-size: 15px;
}
body {
	margin: 0;
	font-size: 1rem;
	color: $black;
}
// container 
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}





// Sections
@import "sections/header.scss";
@import "sections/about.scss";
@import "sections/portfolio.scss";
@import "sections/gallery.scss";
@import "sections/video.scss";
@import "sections/testimonials.scss";
@import "sections/contact.scss";
@import "sections/footer.scss";

@media screen and (max-width: 1200px) {
	// video 
	.video {
		.video__bottom {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.video__item {
				margin: 5px;
				.scale {
					.video__img {
						width: 350px;
						height: 200px;
					}
				}			
			}
		}
		.video__btn {
			.video__more {
				margin-top: 10px;
			}
		}
	}
	// testimonials
	.testimonials {
		.wrapper {
			.testimonials__body {
				display: flex;
				.testimonials__item {
					margin: 10px;
					.personal__photo {
						right: 50px;
					}
				}
				.testimonials__item:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	// header
	.header {
		&__inner {
			padding: 0px 5px 0px 5px;
		}
		.header__slider {
			.header__slides {
				.slider__img {
					margin-bottom: 20px;
				}
				.slider__name h2 {
					font-size: 4.4rem;
				}
				.slider__title  {
					h1 {
						font-size: 3rem;
						line-height: 45px;	
					}
					.slider__description {
						width: 700px;
						font-size: 1.2rem;
						padding: 10px;
					}
				}
			}
			.header__social {
				z-index: 20;
			}
		}
	}
	// about
	.about {
		.wrapper {
			display: flex;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			.about__img {
				margin-bottom: 20px;
				margin-right: 20px;
			}
			.about__info {
				.about__title {
					padding-left: 0;
				}
			}
		}
	}
	// video 
	.video {
		.video__header {
			padding-bottom: 50px;
			.video__title {
				padding-top: 20px;
				font-size: 3.8rem;
			}
			.video__description {
				font-size: 1.2rem;
			}
		}
		.video__body {
			.video__play {
				.video__border {
					width: 600px;
					height: 350px;
					.video__link {
						display: block;
						width: 600px;
						height: 350px;
						margin-top: 0;
					}
				}
				.video__description {
					width: 500px;
				}
			}
		}
		.video__bottom {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.video__item {
				margin: 5px;
				.scale {
					.video__img {
						width: 280px;
						height: 180px;
					}
				}			
			}
		}
	}
	// testimonials
	.testimonials {
		.wrapper {
			.testimonials__body {
				display: flex;
				flex-wrap: wrap;
				.testimonials__item {
					margin: 0 auto;
					margin-bottom: 180px;
					.personal__photo {
						right: 50px;
					}
				}
				.testimonials__item:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	html {
		font-size: 13px;
	}
	.header {
		.navbar-default {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    	}
    .navbar-default.navbar-shrink {
        padding: 0 0;
    }

		&__inner {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 50;
			.hedaer__body {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 60px;
				.logo {
					display: block;
					font-family: 'Brushwell';
					font-size: 3rem;
					color: $black;
					line-height: 30px;
					position: relative;
					z-index: 6;
				}
				.burger {
					display: block;
					position: relative;
					width: 20px;
					height: 20px;
					z-index: 6;
					&:after {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						background-color: $black;
						left: 0;
						bottom: 0;
						transition: all 0.2s linear 0s;
					}
					&:before {
						content: "";
						position: absolute;
						height: 2px;
						width: 100%;
						background-color: $black;
						top: 0;
						transition: all 0.2s linear 0s;		
					}
					&.active:before {
						transform: rotate(45deg);
						top: 9px;
					}
					&.active:after {
						transform: rotate(-45deg);
						bottom: 9px;
					}
					&.active span {
						transform: scale(0);
					}
					span {
						position: absolute;
						background-color: $black;
						left: 0;
						width: 100%;
						height: 2px;
						top: 9px;
						transition: all 0.2s linear 0s;
					}
				}
			}
			.nav {
				position: fixed;
				top: -100%;
				left: 0;
				overflow: auto;
				width: 100%;
				padding: 70px 0px 0px 0px;
				background-color: #2b2929;
				display: flex;
				flex-direction: column;
				align-items: center;
				transition: all 0.2s linear 0s;
				
				&.active {
					top: 0;
				}
				.nav__link {
					margin-bottom: 20px;
				}
			}
		}
		&__inner:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #f0eded;
			z-index: 4;
		}
		.header__slider {
			.header__slides {
				.slider__img {
					margin-bottom: 20px;
				}
				.slider__name h2 {
					font-size: 4.4rem;
				}
				.slider__title  {
					h1 {
						font-size: 3rem;
						line-height: 45px;	
					}
					.slider__description {
						width: 550px;
						font-size: 1.2rem;
						padding: 10px;
					}
				}
			}
			.header__social {
				z-index: 20;
			}
		}
	}

	// about
	.about {
		.wrapper {
			display: flex;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			.about__img {
				margin-right: 0;
				width: 250px;
				height: 250px;
				margin-bottom: 20px;
				margin-right: 20px;
				img {
					width: 250px;
					height: 250px;
				}
			}
			.about__info {
				text-align: center;
				padding: 0;
				.about__title {
					padding-left: 0;
				}
				.about__decription {
					width: 300px;
					margin: 5px;
				}
			}
		}
	}
	// portfolio
	.portfolio {
		.wrapper {
			.portfolio__header {
				.portfolio__title {
					padding-top: 10px;
				}
				.portfolio__2020 {
					margin-bottom: 20px;
					.portfolio__subtitle {
						font-size: 3.5rem;
						line-height: 45px;
					}
				}
				.portfolio__description {
					line-height: 30px;
				}
				.portfolio__btn {
					margin-top: 0;
				}
			}
		}
	}
	// gallery
	.gallery {
		.gallery__slides {
			display: flex;
			flex-wrap: wrap;
			.gallery__block {
				margin: 0;
			}
		}
	} 
	// video 
	.video {
		.video__header {
			padding-bottom: 50px;
			.video__title {
				padding-top: 20px;
				font-size: 3.8rem;
			}
			.video__description {
				font-size: 1.2rem;
			}
		}
		.video__body {
			.video__play {
				.video__border {
					width: 500px;
					height: 300px;
					x-index: 3;
					.video__link {
						display: block;
						width: 500px;
						height: 300px;
						z-index: 5;
						margin-top: 0;
						.btn__play {
							height: 30px;
							width: 30px;
							right: 40%;
						}
					}
				}
				.video__description {
					width: 300px;
				}
			}
		}
		.video__bottom {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.video__item {
				margin: 5px;
				.scale {
					.video__img {
						width: 280px;
						height: 180px;
					}
				}			
			}
		}
	}
	// testimonials
	.testimonials {
		.wrapper {
			.testimonials__body {
				display: flex;
				flex-wrap: wrap;
				.testimonials__item {
					margin: 0 auto;
					margin-bottom: 180px;
					.personal__photo {
						right: 50px;
					}
				}
				.testimonials__item:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	// contact
	.contact {
		.contact__body {
			display: flex;
			flex-wrap: wrap;
			.contact__item:first-child {
				margin-right: 0;
			}
			.contact__item {
				width: 100%;
				.contact__description {
					text-align: center;
				}
				.contact__input {
					width: 100%;
					margin: 0 auto;
				}
				.contact__subj {
					width: 100%;
					margin: 0 auto;
				}
			}
			.contact__item:last-child {
				width: 346px;
			}
		}
	}
	// footer
	.footer {
		.footer__inner {
			display: none;
		}
		.footer__social {
			.footer__header {
				margin-top: 0;
				padding-top: 30px;	
			}
			.footer__text {
				width: 290px;
			}
		}
	}
}

@media (min-width: 750px) and (max-width: 767px) {
	.gallery {
		.gallery__slides {
			display: flex;
			flex-wrap: wrap;
			.gallery__block {
				margin: 5px;
			}
		}
	} 
}

@media screen and (max-width: 550px) {
	.header .header__slider .header__slides .slider__title .slider__description {
			width: 400px;
			margin: 0 auto;
			font-size: 1.20rem;
	}
	.video {
		.video__body {
			.video__play {
				.video__border {
					width: 400px;
					height: 220px;
					x-index: 3;
					.video__link {
						display: block;
						width: 400px;
						height: 220px;
						z-index: 5;
						margin-top: 0;
						.btn__play {
							height: 30px;
							width: 30px;
							right: 40%;
						}
					}
				}
				.video__description {
					width: 300px;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.header .header__slider .header__slides .slider__title .slider__description {
			width: 300px;
			margin: 0 auto;
			padding: 5px;
			font-size: 1rem;
	}
	.video {
		.video__body {
			.video__play {
				.video__border {
					width: 280px;
					height: 180px;
					x-index: 3;
					.video__link {
						display: block;
						width: 280px;
						height: 180px;
						z-index: 5;
						margin-top: 0;
						.btn__play {
							height: 30px;
							width: 30px;
							right: 40%;
						}
					}
				}
				.video__description {
					width: 300px;
				}
			}
		}
	}	
}